@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
}
body{
  margin: 0;
  display:flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: black;
  background-color: white;
}
.page-header{
  color: black;
  background-color: white;
}
.navigation{
display: flex;
margin: 0 auto;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px 70px;
gap: 30px;

}
.navigation-link{
  color: black;
  background-color: white;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.navigation-user{
  max-width: 268px;
  margin-left: auto;
}
.main-container {
  flex-grow: 1;
}
.page-container {
  width: 940px;
  margin: 0 auto;
}
.welcome {
  display: block;
  margin: 0 auto;
}
.welcome{
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.benefits{
  text-align: center;
}
.welcome-title{
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
}
.welcome-description{
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.card-card-blue{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
}
.benefits{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 1200px;
  height: 384px;
}
.card{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.advantages{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
}
.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.advantages-item {
  width: 400px;
}
.filters{
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.product-list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}
.subscription{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 54px;

  width: 684px;
  height: 214.86px;
}
.footer-social-list{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  width: 142px;
  height: 40px;
}
.contacts-address{
  width: 720px;
  height: 50px;
}
.about-text{
  width: 115px;
  height: 33px;
}
.visually-hidden{
visibility: hidden;
}
